<!DOCTYPE html>
<html>
    <head>
        <title> Main </title>
        <style>
            div ul li{
                display:inline-block;}
        </style>
    </head>
    <body>
        <div style="text-align:center;">
            <h2> Project 3 - Session </h2>
        </div>
        <div style="text-align:center">
            <ul style="list-style:none">
                <li><a href="/home"> Home </a></li>
                <li><a href="/cs"> CS Students </a></li>
                <li><a href="/ee"> EE Students </a></li>
                <li><a href="/highGPA"> Highest GPA </a></li>
                <li><a href="/logout"> Log out </a></li>
            </ul>
        </div>
        {{{body}}}
        <div>
            <h6 style="text-align:center;"> &copy;2022 Canadian Campus Awareness Inc. </h6>
        </div>
    </body>
</html>