<!DOCTYPE html>
<html>
    <head>
        <title> Main1 </title>
    </head>
    <body>
        <h2>Welcome to Web 4 Student Information System</h2>
        <p>Please&nbsp;<a href='/register'>Register</a>&nbsp;or&nbsp;<a href='./Login'>Login</a>&nbsp;, if you've already have an account.</p>
        <foot>&copy;2022 Canadian Campus Awareness Inc. (CCA)</foot>
    </body>
</html>